# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
#1

import pandas as pd

df_original = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

In [2]:
df_original.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [11]:
df_original.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [12]:
#filtering

df_new = df_original[(df_original['Total Claim Amount']<1000) & (df_original['Response']=='Yes')]
df_new

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10844,10844,FM31768,Arizona,5979.724161,Yes,Extended,High School or Below,2/7/11,Employed,F,...,0.0,3,Personal Auto,Personal L1,Offer2,Agent,547.200000,Four-Door Car,Medsize,NaN
10852,10852,KZ80424,Washington,8382.478392,Yes,Basic,Bachelor,1/27/11,Employed,M,...,0.0,2,Personal Auto,Personal L2,Offer2,Call Center,791.878042,NaN,NaN,A
10872,10872,XT67997,California,5979.724161,Yes,Extended,High School or Below,2/7/11,Employed,F,...,0.0,3,Personal Auto,Personal L3,Offer2,Agent,547.200000,Four-Door Car,Medsize,NaN
10887,10887,BY78730,Oregon,8879.790017,Yes,Basic,High School or Below,2/3/11,Employed,F,...,0.0,7,Special Auto,Special L2,Offer1,Agent,528.200860,SUV,Small,A
10897,10897,MM70762,Arizona,9075.768214,Yes,Basic,Master,1/26/11,Employed,M,...,0.0,8,Personal Auto,Personal L1,Offer1,Agent,158.077504,Sports Car,Medsize,A

In [20]:
#2 OR use groupby // reset.index

filtered_df = df_original[df_original['Response'] == 'Yes']

summary_table = filtered_df.pivot_table(index= ['Policy Type','Gender'], values = ['Monthly Premium Auto','Customer Lifetime Value'],aggfunc = 'mean').round(2)


summary_table

                       Customer Lifetime Value  Monthly Premium Auto
Policy Type    Gender
Corporate Auto F                       7712.63                 94.30
               M                       7944.47                 92.19
Personal Auto  F                       8339.79                 99.00
               M                       7448.38                 91.09
Special Auto   F                       7691.58                 92.31
               M                       8247.09                 86.34

In [21]:
filtered_df = df_original[df_original['Response'] == 'Yes']

summary_table2 = filtered_df.pivot_table(index= ['Policy Type','Gender'], values = ['Total Claim Amount'],aggfunc = 'mean').round(2)


summary_table2

                       Total Claim Amount
Policy Type    Gender
Corporate Auto F                   433.74
               M                   408.58
Personal Auto  F                   452.97
               M                   457.01
Special Auto   F                   453.28
               M                   429.53

In [22]:
# ordering
summary_table = summary_table.sort_values(by='Customer Lifetime Value', ascending=False)
summary_table

                       Customer Lifetime Value  Monthly Premium Auto
Policy Type    Gender
Personal Auto  F                       8339.79                 99.00
Special Auto   M                       8247.09                 86.34
Corporate Auto M                       7944.47                 92.19
               F                       7712.63                 94.30
Special Auto   F                       7691.58                 92.31
Personal Auto  M                       7448.38                 91.09

In [23]:
summary_table2 = summary_table2.sort_values(by='Total Claim Amount', ascending=False)
summary_table2

                       Total Claim Amount
Policy Type    Gender
Personal Auto  M                   457.01
Special Auto   F                   453.28
Personal Auto  F                   452.97
Corporate Auto F                   433.74
Special Auto   M                   429.53
Corporate Auto M                   408.58

In [24]:
# personal auto accounts for the highest CLV however also due to high amount of claims
# good opportunity would be: special auto F & Corporate Auto M as they have a high CLV but low claim risks

In [26]:
summary_table3 = df_original.pivot_table(index = 'State', values = ['Number of Policies','Customer'], aggfunc ='sum')
summary_table3

,Customer,Number of Policies
State,,
Arizona,DK49336HG93801TL59568XF15789OJ63606ZI34278BE25...,5916
California,KX64629IW72280IH64929FM55990KR82385CW49887FH51...,10602
Nevada,AY59197CI99444PV62583QV30663NY12562NV13794FE99...,2771
Oregon,XL78013QA50777QX31376EO51920TR26615RL65736EQ62...,8666
Washington,LZ68649KR35099YC54142RO18530HF75891NB81923HS39...,2583

In [31]:
# Step 1: Count unique customers per state
customer_counts = df_original.groupby('State')['Customer'].nunique().reset_index(name='Total Customers')

# Step 2: Filter states with more than 500 customers
filtered_states = customer_counts[customer_counts['Total Customers'] > 500]

# Step 3: Optionally, you can sort the results for better readability
filtered_states_sorted = filtered_states.sort_values(by='Total Customers', ascending=False)

# Display the result
print(filtered_states_sorted)

        State  Total Customers
1  California             3150
3      Oregon             2601
0     Arizona             1703
2      Nevada              882
4  Washington              798

In [36]:
#4 


# Group by 'Gender' and 'Education', then calculate the required statistics
statistics = df_original.groupby(['Gender', 'Education'])['Customer Lifetime Value'].agg(['max', 'min', 'median']).round(2)

statistics_in_thousands = statistics / 1000
statistics_in_thousands = statistics_in_thousands.round(3)
# Display the results
print(statistics_in_thousands)

                                max    min  median
Gender Education
F      Bachelor              73.226  1.904   5.641
       College               61.850  1.899   5.624
       Doctor                44.856  2.396   5.332
       High School or Below  55.277  2.145   6.040
       Master                51.016  2.418   5.730
M      Bachelor              67.907  1.898   5.548
       College               61.135  1.918   6.006
       Doctor                32.677  2.268   5.578
       High School or Below  83.325  1.941   6.287
       Master                50.568  2.272   5.579

In [ ]:
# with same Bachelor education level , F contributes with higher CLV on average vs M
# Bachelor education level leads to higher CLV vs Master or Doctor

In [42]:
# 5 Bonus The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

summary_marketing = df_original.pivot_table(index = 'State', columns = 'Months Since Policy Inception', values ='Policy',aggfunc = 'count')
summary_marketing

Months Since Policy Inception,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
State,,,,,,,,,,,,,,,,,,,,,
Arizona,16,11,14,28,17,19,19,13,17,19,...,15,20,21,21,26,16,11,9,14,24
California,45,34,27,38,37,32,27,33,33,44,...,28,19,22,27,26,28,26,20,20,32
Nevada,9,10,9,11,15,5,5,16,16,14,...,14,12,2,13,2,19,8,6,5,9
Oregon,21,27,40,40,27,29,25,25,22,32,...,22,28,30,30,18,17,21,18,13,16
Washington,6,10,8,13,9,8,5,7,7,3,...,13,10,10,11,7,8,8,3,7,9

In [45]:
# 6 To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.


summary_new = df_original.groupby(['State','Months Since Policy Inception'])['Policy'].count().reset_index(name = 'count_policy')

summary_new

          State  Months Since Policy Inception  count_policy
0       Arizona                              0            16
1       Arizona                              1            11
2       Arizona                              2            14
3       Arizona                              3            28
4       Arizona                              4            17
..          ...                            ...           ...
495  Washington                             95             8
496  Washington                             96             8
497  Washington                             97             3
498  Washington                             98             7
499  Washington                             99             9

[500 rows x 3 columns]

In [51]:
# alternative solution 

summary_new = df_original.groupby(['State','Months Since Policy Inception'])['Policy'].count().reset_index(name = 'count_policy')

state_totals = summary_new.groupby('State')['count_policy'].sum()

top_states = state_totals.nlargest(3).index

filtered_summary = summary_new[summary_new ['State'].isin(top_states)]

filtered_summary = filtered_summary.sort_values(by = 'count_policy', ascending = False)

print(filtered_summary)

          State  Months Since Policy Inception  count_policy
135  California                             35            56
159  California                             59            52
110  California                             10            51
150  California                             50            51
161  California                             61            50
..          ...                            ...           ...
82      Arizona                             82            10
83      Arizona                             83            10
49      Arizona                             49             9
97      Arizona                             97             9
85      Arizona                             85             8

[300 rows x 3 columns]

In [52]:
import pandas as pd

# Group by 'State' and 'Months Since Policy Inception' and count policies
summary_new = df_original.groupby(['State', 'Months Since Policy Inception'])['Policy'].count().reset_index(name='Total_Policies')

# Calculate total policies per state
state_totals = summary_new.groupby('State')['Total_Policies'].sum()

# Find the top 3 states with the highest number of policies
top_states = state_totals.nlargest(3).index

# Filter the original summary to include only the top 3 states
filtered_summary_new = summary_new[summary_new['State'].isin(top_states)]

# Sort the resulting DataFrame for better readability
filtered_summary_new = filtered_summary_new.sort_values(by=['State', 'Months Since Policy Inception'])

# Display the final DataFrame
print(filtered_summary_new)

       State  Months Since Policy Inception  Total_Policies
0    Arizona                              0              16
1    Arizona                              1              11
2    Arizona                              2              14
3    Arizona                              3              28
4    Arizona                              4              17
..       ...                            ...             ...
395   Oregon                             95              17
396   Oregon                             96              21
397   Oregon                             97              18
398   Oregon                             98              13
399   Oregon                             99              16

[300 rows x 3 columns]

In [57]:
#7 

#Filter for Positive Responses: Focus on only those customers who responded "Yes".
import pandas as pd

# Filter the DataFrame to include only positive responses
positive_response = df_original[df_original['Response'] == 'Yes']

# Count the positive responses per coverage type (assuming 'Coverage' is intended here)
marketing_table = positive_response.groupby(['Coverage'])['Response'].count().reset_index(name='Count_response')

# Count the total responses per coverage type for response rate calculation
total_responses = df_original.groupby(['Coverage'])['Response'].count().reset_index(name='Total_Response_Count')

# Merge the dataframes on Coverage to bring them into one table and calculate the rate%
response_rate_data = pd.merge(marketing_table, total_responses, on='Coverage')

# Calculate the response rate as a percentage
response_rate_data['Response_Rate'] = ((response_rate_data['Count_response'] / response_rate_data['Total_Response_Count']) * 100).round(2)

# Sort the final table by Response Rate
response_rate_table = response_rate_data[['Coverage', 'Response_Rate']].sort_values(by='Response_Rate', ascending=False)

# Display the table
print(response_rate_table)

   Coverage  Response_Rate
2   Premium          14.73
0     Basic          14.37
1  Extended          13.90